/* * {
  margin: 0;
} */

.body {
  position: relative;
}

.main-img {
  background-image: url(bi.svg);
}
.nav-bar {
background-color: hsla(0, 0%, 100%, 0.793);  
width: 100%;
position: fixed;
text-align: right;

}

.header {
  background: rgba(0, 0, 0, 0.2);
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: "Roboto";
}
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.vertical-line {
  width: 1px;
  height: 20px;
  background-color: white;
}
.gap-20 {
  gap: 20px;
}
.header-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 25px;
  
}
.header-menu a {
  list-style: none;
  color: white;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: auto;
}

.icon-socials {
  gap: 20px;
  list-style: none;
  justify-content: space-between;
}

.poptop {
  font-family: "Roboto";
}

.pt-menu li {
  gap: 20px;
  list-style: none;
  justify-content: space-between;
  text-decoration: none;
  color: hsl(0, 0%, 2%);
}

.blocks-1 {
  list-style: none;
}

.blocks-2 {
  list-style: none;
}

.block-text {
  text-align: center;
}